body{
    background-color: cadetblue;
    text-align: center;
    
}
#body h1{
    font-family: cursive;
    color: darkslategray;
    font-size: 5vw;
    
}
#table{
    width: 100%;
    background-color: cadetblue;
    padding: 35px;
    margin: auto;
    
    font-size: 1.5rem;
    color: white;
    text-align: center;
    
}

#table td{
    border-radius: 10px;
    padding: 8px; 
    box-shadow: 2px 8px 16px rgba(5,3,5,3)
}

#table tr:nth-child(even) {
    background-color:lightgreen;
}

#table h5{
    font-family: cursive;
    color: black;
    font-size: 3vw;
    
}
#Form{
    width: 500px;
    margin: 3rem auto;
    border-radius: 10px;
    border: 3px solid white;
    padding: 45px;
    color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,3); 
}

#Form h1{
   color: darkslategrey;
    text-transform: uppercase;
    font-family: cursive;
    
}


#form-group{
    color: white;
    font-family: cursive;
    display: block;
    height: 45px;
    border-radius: 4px;
    margin: 10px 0 18px 0;
    padding: 0 10;
    
}


#submitForm{
     margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border-bottom: darkgray;
    outline: none;
    background: green;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    padding-left: 5px;
}

#submitApiKey{
    margin: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 40px;
    border-bottom: darkgray;
    outline: none;
    background: green;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding-bottom:1.3rem;
}

#buttonSection{
    width: 100%;
    padding-bottom: 3rem;
    
}

#homeLink{
    border-radius: 8px;
    background-color: aqua;
    width: 120px;
    height: 34px;
}

#editContact{
    border-radius: 8px;
    color: white;
    background-color:darkslategray;
    width: 120px;
    height: 34px;
}

#deleteContact{
    border-radius: 8px;
    color: white;
    background-color: red;
    width: 120px;
    height: 34px;
}

#refresh{
    border-radius: 8px;
    color: black;
    background-color:  lightcoral;
    width: 130px;
    height: 40px;
    box-shadow: 0 8px 16px rgba(0,0,0,5)
}

#addContact{
    border-radius: 8px;
    color: black;
    background-color: lightcoral;
    width: 130px;
    height: 40px;
    box-shadow: 0 6px 14px rgba(0,0,0,4)
        
}

#avatar{
    width: 95%;
    font-family: sans-serif;
    text-align: center;
    padding-left: 125px;
    display: block;
}


@media (min-width:1200px) {
    .table{
        margin-top: 10rem
    }
}

@media (min-width:540px) {
    .Form{
        display: none;
    }
}
 










